.about{
    display: flex;
 padding: 2em 0em;
width: 100%;
}
.box{
    position: relative;
    border: 2px dashed var(--color-2);
    top: 60px;
    width: 100%;
}
.left-box{
   

    width: 70%;
    padding: 1.5em;
    -moz-transform: skew(6deg, 2deg);
-webkit-transform: skew(6deg, 2deg);
-o-transform: skew(6deg, 2deg);
-ms-transform: skew(6deg, 2deg);
transform: skew(6deg, 2deg);
box-shadow: -9px 10px 16px 0px rgba(0,0,0,0.74);
-webkit-box-shadow: -9px 10px 16px 0px rgba(0,0,0,0.74);
-moz-box-shadow: -9px 10px 16px 0px rgba(0,0,0,0.74);
margin-bottom: 3em;
margin-left: 3em;
}

.right-box{
    position: relative;
top: 60px;
    width: 50%;
    border: 2px dashed var(--color-2);
    padding: 1em;

    -moz-transform: skew(9deg, 2deg);
    -webkit-transform: skew(9deg, 2deg);
    -o-transform: skew(9deg, 2deg);
    -ms-transform: skew(9deg, 2deg);
    transform: skew(9deg, 2deg);

box-shadow: -9px 10px 16px 0px rgba(0,0,0,0.50);
-webkit-box-shadow: -9px 10px 16px 0px rgba(0,0,0,0.50);
-moz-box-shadow: -9px 10px 16px 0px rgba(0,0,0,0.50);
margin-left: auto;

}


.about img{
    position: absolute;
    right: 15px;
    top: 0;
    width: 50px ;
    height: 60px;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.about-title{
    font-size: var(--step-1);
    margin: 0;
    color: var(--color-3);
    font-weight: 600;
    top: 60px;
    position: relative;
    padding-bottom: .5em;
    
}
.about-content{
 
    top: 60px;
    position: relative;
}


.like-content{
    top: 60px;
    position: relative;
}
.right-box .like-content ul{
    margin: 0;
}
.right-box .like-content ul li p {
 margin: 0;
 position: relative;
}
.right-box .like-content ul li

{
    top: 60px;
    position: relative;
}


@media screen and (max-width: 500px) {
    .about-wrapper{
        padding: 0 .5em;
        width: 100%;
    }
    
.about-me{
    position: relative;
    width: 100%;
}

.box{
width: 80%;
    position: relative;
margin: 0;
}

.left-box{
   margin: 0;
    width: 90%;
    padding: .5em;
}
.p{
    font-size:16px;
    width: 100%;
    position: relative;
}

}