
.content{
  position: relative;
    float:right;
    text-align: right;
    width: 100%;
    height: 30rem;
    padding: 10em 1em;

}

.links{
  display: flex;
  justify-content: flex-start;
  gap: 2em;
  padding: 1em ;
}

.links{
  font-size: clamp(.95rem ,1.5vw,1.2rem);
}
.content p {
  margin-bottom: .5rem;
  

}



.content p:nth-child(2) {

    margin-top: 100px;

}

.btn-contact{
  margin-bottom: 1em!important;
}

.hero-img{
  shape-outside: url(../images/home-img.png);
float:right;
shape-margin:10px ;
border-radius:50%;
border: 1px dashed rgb(153, 151, 151);

background-color: var(--color-1);


}


.content .social-icon i{
font-size: 2rem;



}

.social-icon{
  display: flex;
justify-content: flex-end;
gap: 2.5em;
}
.social-icon
{
  font-size: clamp(.95rem ,1.5vw,1.5rem);
}

@media screen and (max-width: 768px) {
  .content{
    height: 100%;
   padding: 0;
   padding-top: 3em;
  }

  .social-icon{
    justify-content: center;
  }
  


}

